# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# IDE directories
.vscode/
.idea/

# Database files
*.sqlite3
venv

# Avoid adding files with incorrect paths
Downloads/
Download*/
